/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding-left: 270px;
  font-family: 'Montserrat', sans-serif;
}

.player-img {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  padding-top: 20px;
  border-radius: 25px;
}

.player-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 420px;
  padding-top: 20px;
}

h1 {
  font-size: 50px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1,
h3 {
  color: white;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  * {
    padding-left: 0;
  }

  .player-img {
    width: 300px;
    height: 300px;
  }

  .player-info {
    margin-top: 333px;
    margin-left: 320px;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px) {
  .player-img {
    width: 200px;
    height: 200px;
  }

  .player-info {
    margin-top: 333px;
    margin-left: 220px;
  }

  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .player-img {
    width: 150px;
    height: 150px;
  }

  .player-info {
    margin-top: 370px;
    margin-left: 170px;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }
}